{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
    {% include 'navbar.html' %}
    {% block content %}
    {% endblock %}
    {% block script %}
    {% endblock  %}
</body>
</html>