<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container {
            margin-left: auto;
            margin-right: auto;
        }
        p {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <p>{{ n1 }} + {{ n2 }} = {{ plus }}</p>
        <p>{{ n1 }} - {{ n2 }} = {{ minus }}</p>
        <p>{{ n1 }} * {{ n2 }} = {{ mult }}</p>
        <p>{{ n1 }} // {{ n2 }} = {{ divide }}</p>
    </div>
</body>
</html>