{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <form method='POST'>
        {% csrf_token %}
        {% include "form_errors.html" %}
        <div class="mb-3">
            <label for="content" class="form-label">답변내용</label>
            <textarea name="content" id="content" class="form-control" rows="10">{{ form.content.value|default_if_none:'' }}</textarea>
        </div>
        <button class="btn btn-primary" type="submit">저장하기</button>
    </form>
</div>
{% endblock  %}